<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1>Admin side</h1>

{{#if users.length}}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.username}}</td>
            <td>{{this.email}}</td>
            <td>
                <button onclick="deleteUser('{{this.id}}')">Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>Fant ikke bruker.</p>
{{/if}}
<script>
    fetchusers();
</script>

<script src="/js/admin.js"></script>
</body>
</html>